.todo-form {
  padding: 15px 0;
  margin: 0 auto;
  max-width: 450px;
}

.todo-input {
  font-size: 0.9rem;
  padding: 10px;
  width: 100%;
  transition: outline-color 200ms ease-out;
}

.valid {
  outline-color: lightgreen;
}

.invalid {
  outline-color: red;
}
